/* 基本スタイル */
html {
    font-size: 62.5%; /* 1rem = 10px に統一 */
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  background-color: #fdfcf8;
}


/*　削除予定

header {
  border-bottom: 0.35rem solid #c9c9c9; /* 薄いグレーの線 
  padding-bottom: 1rem;          /* 下に少し余白 
  margin-bottom: 1rem;           /* 本文との間隔 
}

footer {
  border-top: 0.35rem solid #c9c9c9; /* 薄いグレーの線 
  padding-top: 1rem;          /* 下に少し余白 
  margin-top: 1rem;           /* 本文との間隔 
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
}

*/


 /* 画像のはみ出し防止 */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

figure {
  margin: 0;
  padding: 0;
 }

/* ヘッダー */
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7.5rem;
  /*background-color: transparent;*/
  background-color: #FFFFFF;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 999;
}

.logo {
  height: 6rem;
  width: auto;
}

.menu {
  display: none;
}

.right-icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-right: 4rem;
} 

.menu-label {
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem; /*三の行間*/
  cursor: pointer; /*カーソルを当てるとマウスアイコンが変わる*/
}

.menu-label span {
  background: #333;
  height: 0.2rem;
  width: 100%;
  transition: 0.3s; /*×に切り替わるスピード*/
}

/* メニュー変形（ハンバーガー → ×） */
.menu:checked ~ .menu-label span:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
  top: 1.2rem;
}
.menu:checked ~ .menu-label span:nth-child(2) {
  opacity: 0;
}
.menu:checked ~ .menu-label span:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
  top: 1.2rem;
}

/* 右から出るメニュー */
.nav {
  position: fixed;
  top: 7.85rem;             /* ← ヘッダーの高さにぴったり合わせる！ */
  right: 0;
  width: 30%;
  height: calc(100vh - 6rem); /* ヘッダーの下に収めたい場合の補助設定 */
  transform: translateX(100vw);
  transition: transform 0.3s ease;
  background: #3EB370;
  padding: 0 3rem;
  z-index: 998;
  overflow-y: auto; /* スクロール対応を追加 */
  font-family: Arial, sans-serif;
  font-weight: bold;
}

/* メニュー表示時 */
.menu:checked ~ .nav {
  transform: translateX(0);
}

.nav a {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  display: block;              /* ブロック要素にすることで幅いっぱいに */
  font-size: 3rem;
}

.nav-main a {
  padding: 1rem 0;
  padding-bottom: 0.5rem;
}

.space {
  margin-top: 1rem;
}

.nav a:hover {
  background: #ddd;
}

.small {
  margin-top: 20rem;
}

.nav-sub a {
  text-decoration: none;
  display: block;
  padding: 1rem 0;
  font-size: 1.5rem;
}

/* リンクに下線を追加 */
.nav a.underline {
  display: block;              /* ブロック要素にすることで幅いっぱいに */
  border-bottom: 0.2rem solid #333; /* 下線の太さと色を指定 */
  padding-bottom: 0.5rem;      /* 下線との間隔を調整（任意） */
  font-size: 3rem;
  pointer-events: none;
}

.nav::-webkit-scrollbar {
  width: 0.8rem;
}

/* メニュースクロール */
.nav::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 0.4rem;
}

/* メニュースクロールの残り部分 */
.nav::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

/* メニューのすべての商品押下で遷移 */
#about-top,
#brand-top,
#topic-top,
#products-top,
#column-top,
#kansai-top {
  scroll-margin-top: 10rem; /* ヘッダーの高さに合わせて調整 */
}

/*イラスト*/
.top-image {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: contain;
  margin-top: 7.85rem;
  margin-bottom: 10rem;
}

/* 各タイトル */
.about,
.brand,
.products,
.kansai {
  display: inline-block;
  padding: 1rem 7rem;
  font-size: 2.5rem;
  color: #FFFFFF;
  background-color: #3EB370; /* 緑のバー */
  font-family: Arial, sans-serif; /*フォント設定*/
  font-weight: bold;
  border-top-right-radius: 40px;   /* 右上を丸く */
  border-bottom-right-radius: 40px;/* 右下を丸く */
}

.about-setting {
  color: #3EB370;
  font-family: "Yu Gothic", "YuGothic", sans-serif;
  font-weight: 500;
  margin-left: 25rem;
  line-height: 2;
}

.about-title {
  font-size: 4.5rem;
}

/* trahearceの説明 */
.about-a {
  font-size: 2.5rem;
  margin-top: 5rem;
}

.about-b {
  font-size: 2.5rem;
  margin-top: 4rem;
}

.about-set {
  display: flex;
  gap: 14rem;
}

.about-c {
  font-size: 2.5rem;
  margin-top: 2rem;
}

.image-1 {
  width: 30%;
  height: auto;
}

.brand-setting {
  display: flex;
  font-family: "Yu Gothic", "YuGothic", sans-serif; /*フォント設定*/
  font-weight: 500;
}

.image-3 {
  width: 40%;
  height: auto;
  align-self: center; 
  margin-right: 3rem;
}

.brand-set {
  display: flex;
  flex-direction: column; /* テキストを縦積み */
  color: #3EB370;
}

.brand-a,
.brand-b,
.brand-c,
.brand-d,
.brand-e,
.brand-f {
  font-size: 2.5rem;
  font-family: monospace;
  line-height: 2;
  margin-top: 0;
}

.topic-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  background-color: #3EB370;
  margin-bottom: 10rem;
  margin-top: 5rem;
}

.topic {
  display: inline-block;
  padding: 1rem 7rem;
  margin-top: 4rem;
  font-size: 2.5rem;
  color: #3EB370;
  background-color: #FFFFFF; /* 緑のバー */
  font-family: Arial, sans-serif;
  font-weight: bold;
  border-top-right-radius: 40px;   /* 右上を丸く */
  border-bottom-right-radius: 40px;/* 右下を丸く */
}

.topic-list {
  list-style-type: disc;
  list-style-position: inside;
  font-size: 2.3rem;
  color: #FFFFFF;
  margin: 0;
  padding: 5rem 0 5rem 3rem;
  list-style: none;
  font-family: "Yu Gothic", "YuGothic", sans-serif;
  font-weight: 500;
}

.topic-list li {
  margin-bottom: 1.5rem;
}

/* 最初の項目だけ Topic と高さを揃えて横並びに見せる */
.topic-list li:first-child {
  margin-top: 0.5rem;
}

.list-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 横3列 */
  gap: 2rem; /* カード間の余白 */
  padding: 4rem;
  padding-top: 0;
}

.list {
  background-color: transparent; /* 背景を透明に */
  border: none;                  /* 枠線を消す */
  border-radius: 0;              /* 角丸をなくす */
  box-shadow: none;              /* 影を消す */
  padding: 0;                    /* 内側の余白をなくす */
  transition: none;              /* ホバー時の変化もなくす */
  text-align: center;
}

.list:hover {
  transform: scale(1.03);
}

.list img {
  width: 300px;
  height: 300px;
  border-radius: 0.4rem;
  display: block;       /* ← これ重要 */
  margin: 5rem auto 3rem auto;       /* ← 左右中央寄せ */
}

.list-text h4 {
  margin: 1rem 0 0.5rem;
  font-size: 2em;
  color: #f6ab00;
  font-family: "Yu Gothic", "YuGothic", sans-serif;
  font-weight: 500;
}

/*オンラインショップボタン*/
.shop-button-area {
  position: relative;       /* 子要素の絶対配置の基準にする */
  width: 100%;
  height: 20vh;            /* 画面全体の高さを使う場合 */
  display: flex;
  justify-content: center;   /* 横方向中央揃え */
  align-items: center;       /* 高さ方向中央揃え（任意） */
}

.shop-button {
  background-color: #f6ab00; 
  color: #FFFFFF;
  border: none;
  padding: 16px 48px;
  font-size: 2em;
  border-radius: 3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.shop-button:hover {
  background-color: #d6b380e7;
}

.image-4 {
  width: 25%;
  height: auto;
  position: absolute;   /* ボタンを基準に配置 */
  left: 65%;            /* ボタンの右側にずらす */
  top: 150%; 
  transform: translateY(-50%); /* 縦方向の中央揃え */
  z-index: 99; /* 数字が大きいほど前に来る */
}

.column-setting {
  position: relative;
  background-color: #3EB370;
  color: #FFFFFF;
  margin-top: 10rem;
  padding-bottom: 20rem;
  margin-bottom: 20rem;
  font-family: "Yu Gothic", "YuGothic", sans-serif;
  font-weight: 500;
}

.column {
  display: inline-block;
  padding: 1rem 7rem;
  margin: 10rem 0;
  font-size: 2.5rem;
  color: #3EB370;
  background-color: #FFFFFF; /* 緑のバー */
  font-family: Arial, sans-serif;
  font-weight: bold;
  border-top-right-radius: 40px;   /* 右上を丸く */
  border-bottom-right-radius: 40px;/* 右下を丸く */
}

.column-photo1,
.column-photo3 {
  float: left;
  width: 38%;
  height: auto;
  padding-left: 7rem;
  padding-right: 11rem;
  margin-top: 1rem;
  margin-bottom: 10rem;
}

.column-photo2 {
  float: right;
  width: 38%;
  height: auto;
  padding-left: 10rem;
  padding-right: 6rem;
  margin-bottom: 10rem;
}

.column-A {
  font-size: 4rem ;
  margin: 0;
}

.column-a {
  font-family: monospace;
  font-size: 2.2rem;
  line-height: 1.6;
  padding-top: 1rem;
}

.column-B {
  font-size: 4rem ;
  margin: 0;
  margin-top: 10rem;
  padding-left: 7rem;
}

.column-b {
  font-family: monospace;
  font-size: 2.2rem;
  line-height: 1.6;
  padding-top: 1rem;
  margin-left: 7rem;
}

.column-C {
  font-size: 4rem ;
  padding-top: 5rem;
}

.column-c {
  font-family: monospace;
  font-size: 2.2rem;
  line-height: 1.6;
  padding-top: 1rem;
}

.image-row {
  clear: both;
  display: grid;
  gap: 0rem; /* 画像の間隔 */
  justify-items: center; /* 各アイテムを中央に */
  justify-content: center; /* 中央揃え（任意） */
  margin-top: 15rem;
  grid-template-columns: repeat(3, 1fr); /* 横3列 */
  margin-left: 3rem;
  margin-right: 3rem;
}

.column-image {
  width: 80%;
  height: auto;
}

.column-text1 {
  font-size: 1.5rem;
  margin-bottom: 10rem;
}

.column-text2 {
  position: relative;
  font-size: 1.5rem;
}

.image-5 {
  position: absolute;
  width: 40%;
  height: auto;
  left: 4%;
}

.map {
  position: relative;
  width: 80rem;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.map-image {
  width: 100%;
  margin: 0 auto;
  display: block;
  padding-top: 3rem;
}

.kyoto-label,
.Osaka-label,
.Nara-label,
.Shiga-label,
.Hyogo-label,
.Mie-label,
.Wakayama-label {
  position: absolute;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.705); /*ラベルの色*/
  padding: 0.2rem 0.6rem;             /*ラベルの内側余白*/
  border-radius: 0.6rem;           /*角の丸み*/
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
  box-shadow: 0 0.2rem 0.6rem rgba(0,0,0,0.1);  /*ラベルの影の色*/
}

.popup-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 0.1rem solid #ccc;
  border-radius: 0.8rem;
  padding: 5rem;
  width: 70rem;
  box-shadow: 0 0.8rem 2rem rgba(0,0,0,0.2);
  display: none;
  z-index: 100;
}

.popup-row {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
  margin-top: 1rem;
  flex-wrap: wrap; /* スマホ対応で折り返し可能に */
}

.popup-item {
  width: 100rem;
  text-align: center;
}

/*Jsの設定*/
.label {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  margin-top: 0.6rem;
}

/*破棄予定　前のJSの設定
#popup-title {
  margin-top: 0.8rem;
  font-size: 1.5rem;
  font-weight: bold;  
  text-align: center;
}
*/

/*×ボタン設定*/
.close-btn {
  position: absolute;
  top: 0.6rem;
  right: 1rem;
  font-size: 4rem; /*大きさ*/
  color: #666;
  cursor: pointer;
}

.close-btn:hover {
  color: #000;
}

.parent {
  display: flex;
  justify-content: flex-end;
}

.image-6 {
  width: 30%;
  height: auto;
  margin-right: 10rem;
  margin-bottom: 10rem;
}

/* フッター */
.site-footer {
  background-color: #FFFFFF;
  height: 30rem;
  padding: 3rem 4rem 0 2rem;
  text-align: left;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.footer-content {
  display: flex;
  align-items: flex-start; /* 上寄せ */
  gap: 15rem ; /* ロゴとリンク群の間隔 */
}

.footer-links,
.footer-information {
  list-style: none;
  display: flex;
  flex-direction: column; /* ← これを残す！ */
  align-items: flex-start;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.footer-links a {
  color: #000000;/* フォントカラー*/
  text-decoration: none;
  font-size: 2rem;
  margin-left: 34rem;
}
  
.footer-information a {
  color: #000000;
  text-decoration: none;
  font-size: 1.6rem;
  padding-right: 7rem;
}

.footer-links a:hover,
.footer-information a:hover {
  text-decoration: underline;
}

/*著作権*/
.copyright{
  text-align: center;
  font-size: 1.4rem;
  color: #333;
  margin-top: 9rem; /* 上のセクションとの余白 */
}